@media only screen and (max-width: 537px) {

    /* responsiveness for the navigation bar and footer */
    .Navbar-Items,
    .Navbar,
    .food,
    .iconsmain,
    #foodimg,
        {
        flex-direction: column;
    }


    .iconsmain,
    #foodimg,
        {
        text-align: center;
    }

    .foodbtn {
        width: 100%;
    }

    .Navbar-Items {
        display: none;
    }

    .Navbar-Items-right {
        margin-left: 0;
    }

    .Navbar-ToggleShow {
        display: flex;
        align-items: center;
        flex-direction: vertical;
    }

    .Navbar-Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    /* .showcase {
        padding-top: 200px;
    } */
    .search {
        display: none;
    }

    .food {
        display: flex;
        flex-direction: horizontal;
    }

    #foodimg {
        flex-direction: column;
    }

    #signup .modal-content,
    #login .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 85%;
        padding: 20px;
        border-radius: 20px;
    }

}